
// Typography

$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-family-cursive: "Noteworthy", cursive;
//font-family: 'Handlee', cursive;
//font-family: 'Annie Use Your Telescope', cursive;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #901818;
$orange: #f6993f;
//$yellow: #ffed4a;
$yellow: #554843;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$red-grey: #9f9999;

$dark-brown:#554843;
$moccha: #d5c5b8;
$crem: #f1e7db;
$light-grey: #f2f3ee;

// Body
$body-bg: #bfbbbb;
