
// Body
$body-bg: #bfbbbb;

// Typography

$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-family-cursive: "Noteworthy", cursive;
//font-family: 'Handlee', cursive;
//font-family: 'Annie Use Your Telescope', cursive;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #990000;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
