// KNIT & STITCH CUSTOM css

// Fonts
@font-face {
  font-family: "Noteworthy", cursive;
  src:url(/fonts/Noteworthy-Lt.woff);
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//////////// GLOBAL /////////////////////

body {
  background-color: $dark-brown;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  background-color: $moccha;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

//Hyperlinks
.nav-link:hover {
  text-decoration: underline;
}

a {
  color: $red;
}

 a:hover {
   color: $dark-brown;
 }

.pointer {
  cursor: pointer;
}

// Header
 .hidden-when-small {
   display: none;
 }

// BG Colors
.dark-brown   {
  background-color: $dark-brown;
}

.text-dark-brown {
  color: $dark-brown;
}

.moccha {
  background-color: $moccha;
}

.text-moccha {
  color: $moccha;
}

.crem {
  background-color: $crem;
}

.text-crem {
  color: $crem;
}

.light-grey {
  background-color: $light-grey;
}

.text-light-grey {
  color: $light-grey;
}

.red {
  background-color: $red;
}

.text-red {
  color: $red;
}

///////// TYPOGRAPHY ///////////////////
.fs-06 {
  font-size: 0.6em;
}

.fs-08 {
  font-size: 0.8em;
}

.fs-12 {
  font-size: 1.2em;
}

.fs-14 {
  font-size: 1.4em;
}

.fs-16 {
  font-size: 1.6em;
}

.fs-18 {
  font-size: 1.8em;
}

.fs-20 {
  font-size: 2em;
}

.fs-25 {
  font-size: 2.5em;
}

.fs-30 {
  font-size: 3em;
}

.ls-3 {
  letter-spacing: 2px;
}

h1,h2,h3,h4,h5,h6,p,small {
  color: $dark-brown;
}

.list-style-no-style {
  list-style-type: none;
}
////////////// FRONT PAGE ///////////////////

// carousel and slides

.handwriting {
  font-family: $font-family-cursive;
}

.carousel-indicators li {
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.slider {
  border-color: $dark-brown;
  border-style: solid;
  border-width: 12px 0px 12px 0px;
}

.carousel {
  width:800px;
  height:400px;
}

.selected {
  border: 5px solid $dark-brown;
}

// Buttons
.but-fashion {
  height: 120px;
  width: 120px;
  background-color: $crem;
  border-radius: 12px;
  background-image: url(/images/btn-fashion.png);
}

.but-self-care {
  height: 120px;
  width: 120px;
  background-color: $crem;
  border-radius: 12px;
  background-image: url(/images/btn-self-care.png);
}

.but-house {
  height: 120px;
  width: 120px;
  background-color: $crem;
  border-radius: 12px;
  background-image: url(/images/btn-house.png);
}

.but-novelties {
  height: 120px;
  width: 120px;
  background-color: $crem;
  border-radius: 12px;
  background-image: url(/images/btn-novelties.png);
}

.hover-1:hover {
  border: 2px solid $dark-brown;
  cursor: pointer;
  color: $dark-brown;
}

// Front-page card-columns

.fp-card {
  background-color: inherit;
  border-top: 2px solid $dark-brown;
  border-bottom: 2px solid $dark-brown;
}

.p-card {
  max-height: 200px;
  overflow: hidden;
  transition: 2s;
}

.fp-show {
  max-height: 100%;
  transition: 2s;
}

.btn-link {
  color: $red;
  font-style: italic;
  cursor: pointer;
}

.btn-link:hover {
  color: $dark-brown;
  font-style: italic;
  cursor: pointer;
}

.hyphen {
  hyphens: auto;
}
/////////// INDEX //////////////

// pagination
.page-link {
  background-color: inherit;
  color: $red;
  border: 1px solid $red;
}

.page-link:hover {
  background-color: $dark-brown;
  color: $crem;
  border: 1px solid $red;
}

.page-item.active .page-link {
  background-color: $red;
  color: $crem;
  border: 1px solid $red;
}

.page-item.disabled .page-link {
  background-color: inherit;
  color: $red;
  border: 1px solid $red;

}

//////////// PHOTO GALLERY ////////////////////
.thumbnail {
  width: 200px;
}


//////////// MEDIA QUERIES ////////////////////

@media screen and (min-width: 768px) {

// Header
  .logo-img {
    height: 150px;
  }

  .hidden-when-large {
    display: none;
  }

  .hidden-when-small {
    display: flex;
  }


}
